* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
}

.body-overlay {
  overflow-y: hidden;
  padding-right: 15px;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.header {
  padding: 15px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__logo img {
  display: block;
  width: 100%;
}

.header__center {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  padding: 5px 10px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.5px solid #aeaeaebd;
  border-radius: 18px;
}

.header__search input {
  display: block;
  width: 100%;
  border: none;
  font-size: 18px;
  padding-right: 5px;
}

.header__search input:focus {
  outline: none;
}

.header__search__search-input {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.header__search__search-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search__search-btn .search-btn {
  width: 5px;
}

.header__r {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__user img {
  display: block;
  margin-right: 5px;
}

.header__user-login {
  cursor: pointer;
}

.header__user-login:hover {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000cc;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.overlay-active {
  opacity: 1;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.form-overlay {
  margin: 0 auto;
  background: #fff;
  position: relative;
  width: 80%;
  max-width: 350px;
  text-align: center;
  padding: 40px 0 20px;
  border-radius: 5px;
}

.form-overlay button {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.form-overlay button:hover {
  background: #262626;
  color: #fff;
}

.form-overlay button:focus {
  outline: none;
}

.form-signup {
  padding-bottom: 0;
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
}

.input {
  margin: 0 auto;
  width: 60%;
}

.input input {
  width: 100%;
  display: block;
  padding: 5px 5px 2px;
  font-size: 16px;
  background: transparent;
}

.input input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
          box-shadow: 0 0 0px 1000px #fff inset;
}

.signup-suggest {
  font-size: 13px;
  color: #aeaeae;
}

.signup-suggest span {
  color: #48f;
  text-decoration: underline;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 25px;
  height: 20px;
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.close:hover {
  opacity: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.close:before, .close:after {
  content: " ";
  right: 4px;
  top: 8px;
  width: 18px;
  height: 2.5px;
  background-color: #000;
  position: absolute;
  border-radius: 2px;
}

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.input {
  margin-bottom: 20px;
}

.nav {
  background: #262626;
  width: 100%;
  color: #fff;
}

.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.nav__item a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 15px 25px;
}

.nav__item:hover {
  background: #fff;
}

.nav__item:hover a {
  color: #262626;
}

.wrapper {
  min-height: 500px;
}

.wrapper__inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 30px;
}

.sidebar__catalogue-title {
  margin-bottom: 15px;
}

.sidebar__catalogue .line {
  margin-bottom: 15px;
}

.sidebar__cats {
  list-style-type: none;
}

.sidebar__cats-item:hover a {
  color: #262626;
}

.sidebar__cats-item:not(:last-child) {
  margin-bottom: 15px;
}

.sidebar__cats-item a {
  text-decoration: none;
  color: #aeaeae;
}

.main {
  -webkit-box-flex: 3.5;
      -ms-flex: 3.5;
          flex: 3.5;
}

.main__title {
  margin-bottom: 20px;
}

.main__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px -5px;
}

.main__shop .shop-item {
  width: 24.5%;
  padding: 10px 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.main__shop .shop-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 220px;
  margin-bottom: 10px;
  background: #fff;
}

.main__shop .shop-item-img img {
  display: block;
  max-height: 99.9%;
  max-width: 99.9%;
}

.main__shop .shop-item-title {
  margin-bottom: 10px;
  padding-right: 5px;
  font-size: 16px;
}

.main__shop .shop-item-price {
  margin-bottom: 10px;
  font-size: 14px;
}

.main__shop .shop-item-cart {
  font-size: 14px;
}

.main__shop .shop-item-cart a {
  color: #0ba520;
  text-decoration: none;
}

.main__shop .shop-item-link {
  text-decoration: none;
  display: block;
  color: #000;
}

.line {
  width: 100%;
  border-bottom: 1.5px solid #aeaeaea4;
}

.footer__top {
  background: #aeaeae;
  padding: 15px 0;
}

.footer__top-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

.footer__logo img {
  display: block;
  width: 100%;
}

.footer__right {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__bot {
  padding: 15px 0;
  background: #000;
  color: #aeaeae;
  text-align: center;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3em 0;
}

.product__image {
  margin: 10px;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__image img {
  width: 100%;
  display: block;
}

.product__title {
  font-size: 50px;
  margin: 0 0 0.3em;
}

.product__price {
  font-size: 30px;
  margin: 0.4em 0em;
}

.product__desc {
  font-size: 20px;
  margin: 1em 0em;
}

.product__tocart {
  display: block;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.8em 5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 1em 0;
}

.product__characteristics {
  margin-left: 2em;
}
/*# sourceMappingURL=style.css.map */