$main-color: #262626
   
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: sans-serif

body
    position: relative
    overflow-x: hidden
.body-overlay
    overflow-y: hidden
    padding-right: 15px

.container
    margin: 0 auto
    max-width: 1170px

.header
    padding: 15px 0
    &__inner
        display: flex
    &__logo
        flex: 1
        img
            display: block
            width: 100%
    &__center
        flex: 3
        display: flex
        justify-content: center
        align-items: center
    &__search
        padding: 5px 10px
        width: 80%
        display: flex
        align-items: center
        border: 1.5px solid #aeaeaebd
        border-radius: 18px 
        input
            display: block
            width: 100%
            border: none
            font-size: 18px
            padding-right: 5px
        input:focus
            outline: none
        &__search-input
            flex: 9
        &__search-btn
            flex: 1
            display: flex
            justify-content: center
            align-items: center
            .search-btn
                width: 5px
    &__r
        flex: 1
        display: flex
        justify-content: space-around
        align-items: center
    &__user
        display: flex
        align-items: flex-end
        img
            display: block
            margin-right: 5px
        &-login
            cursor: pointer
            &:hover
                text-decoration: underline

.overlay
    position: fixed
    width: 100%
    height: 100%
    background: #000000cc
    z-index: 1
    display: flex
    justify-content: center
    align-items: center
    opacity: 0
    visibility: hidden
    transform: scale(1.1)
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s
.overlay-active
    opacity: 1
    opacity: 1
    visibility: visible
    transform: scale(1.0)
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s
.form-overlay
    margin: 0 auto
    background: #fff
    position: relative
    width: 80%
    max-width: 350px
    text-align: center
    padding: 40px 0 20px
    border-radius: 5px
    button
        margin-top: 10px
        margin-bottom: 30px
        padding: 7px 15px
        border-radius: 5px
        font-size: 13px
        cursor: pointer
        transition: background 0.3s
        &:hover
            background: $main-color
            color: #fff
        &:focus
            outline: none
.form-signup
    padding-bottom: 0
.form-title
    text-align: center
    margin-bottom: 30px
.input
    margin: 0 auto
    width: 60%
    input
        width: 100%
        display: block
        padding: 5px 5px 2px
        font-size: 16px
        background: transparent
        &:focus
            outline: none
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus 
    -webkit-text-fill-color: #000
    box-shadow: 0 0 0px 1000px #fff inset
.signup-suggest
    font-size: 13px
    color: #aeaeae
    span
        color: #48f
        text-decoration: underline
        cursor: pointer
.close
    position: absolute
    top: 13px
    right: 10px
    width: 25px
    height: 20px
    cursor: pointer
    opacity: 0.6
    transition: all 0.3s
    &:hover
        opacity: 1
        transform: rotate(180deg)
.close:before, .close:after
    content: " "
    right: 4px
    top: 8px
    width: 18px
    height: 2.5px
    background-color: #000
    position: absolute
    border-radius: 2px
.close:before
    transform: rotate(45deg)
.close:after
    transform: rotate(-45deg)
.input
    display: block
    margin-bottom: 20px
    input
        border: 1px solid #aeaeae
        border-radius: 5px
.form-error
    color: red
    font-size: 13px
    text-align: left

.nav
    background: $main-color
    width: 100%
    color: #fff
    &__inner
        display: flex
    &__item
        transition: background 0.3s ease 
        a
            text-decoration: none
            color: #fff
            display: block
            padding: 15px 25px
        &:hover
            background: #fff
            a
                color: $main-color

.wrapper
    min-height: 500px
    &__inner
        padding: 30px 0
        display: flex

.sidebar
    flex: 1
    padding-right: 30px
    &__catalogue
        &-title
            margin-bottom: 15px
        .line
            margin-bottom: 15px
    &__cats
        list-style-type: none
        &-item
            &:hover                 
                a
                    color: $main-color
                    font-size: 20px 
                    transition: 0.2s                             
            &:not(:last-child)
                margin-bottom: 15px
            a
                text-decoration: none
                color: #aeaeae

.main
    flex: 3.5  
    &__title
        margin-bottom: 20px
    &__shop
        display: flex
        flex-wrap: wrap
        margin: -10px -5px
        .shop-item:hover
            border: 1px dashed #0ba520
            padding: 9px 9px                
        .shop-item
            width: 25%
            padding: 10px 10px
            overflow: hidden
            margin-bottom: 10px                       
            &-img
                display: flex
                justify-content: center
                align-items: center
                min-height: 220px
                margin-bottom: 10px
                background: #fff
                img
                    display: block
                    max-height: 99.9%
                    max-width: 99.9%
            &-title
                margin-bottom: 10px
                font-size: 16px
                text-align: center
            &-price
                margin-bottom: 10px
                font-size: 15px
                text-align: center
            &-cart
                font-size: 14px
                a
                    color: #0ba520
                    text-decoration: none
            &-link
                text-decoration: none
                display: block
                color: #000
    
.line
    width: 100%
    border-bottom: 1.5px solid #aeaeaea4

.footer
    &__top
        background: #aeaeae
        padding: 15px 0
    &__top-in
        display: flex
        justify-content: space-between
    &__logo
        flex: 0.7
        img
            display: block
            width: 100%
    &__right
        flex: 3
        display: flex
        justify-content: center
            
    &__bot
        padding: 15px 0
        background: #000
        color: #aeaeae
        text-align: center


.product
    display: flex
    padding: 3em 0
       
    &__image
        margin: 10px   
        width: 50%
        height: 50%
        -webkit-box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.75);
        display: flex
        justify-content: center
        align-items: center
        img         
            width: 100%
            display: block

    &__title
        font-size: 50px
        margin: 0 0 0.3em
    &__price
        font-size: 30px
        margin: 0.4em 0em
    &__desc
        font-size: 20px
        margin: 1em 0em
    &__tocart       
        display: block
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 0.8em 5em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 1em 0
    &__characteristics
        margin-left: 2em

.contacts    
    h1
        text-align: center
        font-size: 2.4em
        margin: 2em 0
    p
        margin: 1em 0
    a 
        color: #000
    strong
        margin: -0.8em
        font-size: 20px
    &__table
        td 
            padding: 0.6em 2em 0.6em 1em

.about
    h1
        text-align: center
        font-size: 2.4em
        margin: 2em 0
    p
        margin: 1em 0
    a 
        color: #000
    strong
        margin: -0.8em
        font-size: 20px
